$imagesPath : "images";

html,body {
  margin: 0;
	padding: 0;
	height: 100%;
  font-family: 'Source Sans Pro',Helvetica,Sans-Serif;
/*   background-image: url(#{$imagesPath}/header.svg), -webkit-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%); */
  background-image: url(#{$imagesPath}/header.svg), -webkit-linear-gradient(#21b5de 0%, #41eae7 100%);
    background-image: url(#{$imagesPath}/header.svg), -moz-linear-gradient(#21b5de 0%, #41eae7 100%);
    background-image: url(#{$imagesPath}/header.svg), -o-linear-gradient(#21b5de 0%, #41eae7 100%);
    background-image: url(#{$imagesPath}/header.svg), -ms-linear-gradient(#21b5de 0%, #41eae7 100%);

/*   background: -webkit-linear-gradient(#21b5de 0%, #41eae7 100%); */
  background-attachment: fixed;
  
	color: #f6f6f6;
}
.parallax-bckg {
  
}
.app {
  width: 100%;
  min-height: 100%;
  padding: 0px;
  overflow: auto;
  background: url(#{$imagesPath}/ParallaxStarsLess.png);
}
.navbar {
  opacity: 0.95;
}

/* HEADER */
.header {
  height: 200px;
  width: 100%;
  padding-top: 100px;
  text-align: center;
  color: #f6f6f6;
  margin-bottom: 50px;
}
.header h1 {

}

/* FOOTER */
footer {
  clear: both;
  font-size: small;
  width: 100%;
  height: 100px;
  padding: 10px;
  background: transparent;
  opacity: 0.9;
  color: #f8f8f8;
}
footer a {
  color: #ebebed;
  font-weight: bold;
}

/* TEXTS */
.lead {
  font-weight: 500;
}
.lead a {
  color: #ebebed;
  font-weight: bold;
}